button {
    color: #FFF;
    background-color: #F78181;
    border: none;
    font-weight: bold;
    position: relative;
    top: 50%;
    left: 50%;
}

form {
    color: #000;
    border: medium solid orchid;
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    
}

html {height: 100%}
body {height: 100%; margin: 0; padding: 0}
#map-canvas {height: 100%}